html, body, #root {
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
        "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #FFDAB90F;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.main-container {
    height: inherit;
    display: flex;
    flex-direction: column;
}

.main-content {
    height: 100%;
    margin: 0 15px;
    /* flex-grow: 1; */
    /* margin: 0 auto; */
    /* display: flex; */
    /* align-items: center; */
}

.toolbar {
    justify-content: space-between;
}

.btn-wrapper, .loader-wrapper {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.main-view-container {
    display: flex;
    width: 100%;
    height: 100%;
}

.users-container {
    border-right: 4px solid #666;
    width: 330px;
    display: flex;
}

.users-wrapper {
    margin-top: 30px;
    height: inherit;
}

.user-record {
    width: 300px;
    margin-bottom: 10px;
}

.avatar-name {
    display: flex;
    align-items: center;
}

.actions-container {
    justify-content: flex-end;
}

.actions {
    width: 170px;
    display: flex;
    justify-content: space-between;
}